@model PatientLibrary.Patient;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PatientDisplay</title>
</head>
<body>
   
    @Model.name <br />
    @Model.address
</body>
</html>
